
</div>
	<!-- /container -->
<footer class="footer-distributed">

    <div class="footer-left">
    <center>
        <img class="img-fluid" src="/images/whatsapp-bot.png" width="130px" height="130px">
        </p>
        <p class="footer-company-name">Copyright &copy; 2020- Eletroinfo - Desenvolvido por <b>Alan Martines</b></p>
    </center>
    </div>

    <div class="footer-center">

        <div>
            <i class="fas fa-phone-alt"></i>
            <p>+55</p>
        </div>

        <div>
            <i class="fas fa-envelope"></i>
            <p><span>@</span></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Propósito da nossa equipe!</span>“Você quer passar o resto da sua vida vendendo água com açúcar ou quer uma chance de mudar o mundo?”
        </p>

        <div class="footer-icons">
            <a href="https://www.linkedin.com/in/alan-cleber-pereira-martines-313a47131/" target="_blank" ><i class="fab fa-linkedin"></i></a>
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5567996787854" target="_blank" ><i class="fab fa-whatsapp"></i></a>
        </div>

    </div>

</footer>
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
    <!-- Primeiro o jQuery, depois o Popper.js, e depois o Bootstrap JS -->
    <script type="text/javascript" src="/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/popper/popper.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Inclusão do Plugin jQuery Validation-->
	<script type="text/javascript" src="/jquery/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/jquery/additional-methods.min.js"></script>
    <!-- Datatables code -->
    <script type="text/javascript" src="/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/datatables/js/dataTables.responsive.min.js"></script>
    <!-- Lobibox code -->
	<script type="text/javascript" src="/lobibox/js/lobibox.min.js"></script>
	<!-- If you do not need both (messageboxes and notifications) you can inclue only one of them -->
	<!-- <script src="/lobibox/js/messageboxes.min.js"></script> -->
	<!-- <script src="/lobibox/js/notifications.min.js"></script> -->
	<!-- Table Export code -->
	<script type="text/javascript" src="/tableexport/libs/FileSaver/FileSaver.min.js"></script>
	<script type="text/javascript" src="/tableexport/libs/js-xlsx/xlsx.core.min.js"></script>
	<script type="text/javascript" src="/tableexport/libs/jsPDF/jspdf.min.js"></script>
	<script type="text/javascript" src="/tableexport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
	<script type="text/javascript" src="/tableexport/libs/pdfmake/pdfmake.min.js"></script>
	<script type="text/javascript" src="/tableexport/libs/pdfmake/vfs_fonts.js"></script>
	<!-- For output of arabic characters include mirza_fonts.js instead of vfs_fonts.js -->
	<!-- For output of chinese characters include either gbsn00lp_fonts.js or ZCOOLXiaoWei_fonts.js instead of vfs_fonts.js -->
	<!-- For IE support include es6-promise before html2canvas -->
	<script type="text/javascript" src="/tableexport/libs/es6-promise/es6-promise.auto.min.js"></script>
	<script type="text/javascript" src="/tableexport/libs/html2canvas/html2canvas.min.js"></script>
	<script type="text/javascript" src="/tableexport/tableExport.min.js"></script>
	<!--- --------------------------------------------------------------------------------------------------------------------------- --->
	<script type="text/javascript" src="/intl-tel-input/js/intlTelInput-jquery.js"></script>
	<script type="text/javascript" src="/trumbowyg/trumbowyg.min.js"></script>
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
    <script type="text/javascript" src="/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/jquery/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/passtrength/js/jquery.passtrength.min.js"></script>
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
    <script type="text/javascript" src="/page/js/perssonalizado.js"></script>
    <script type="text/javascript" src="/page/js/mascaras.js"></script>
    <script type="text/javascript" src="/page/js/intl-tel-input.js"></script>
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
</body>
</html>