<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Alan Martines</title> 
    <meta property='og:title' content='Alan Martines' />
    <meta charset="utf-8" />
    <meta name='content-language' content='pt-br' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="/images/whatsapp-bot.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
    <meta name="description" content="Alan Martines"/>
    <meta name="author" content="Alan Martines"/>
    <meta name="keywords" content="Alan Martines" />
    <meta name="robots" content="noindex, nofollow"/>
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/page/css/style.css" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.min.css" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" type="text/css" href="/passtrength/css/passtrength.css" media="print" onload="this.media='all'"/>
	<link rel="stylesheet" type="text/css" href="/datatables/css/dataTables.bootstrap4.min.css" media="print" onload="this.media='all'"/>
	<link rel="stylesheet" type="text/css" href="/datatables/css/responsive.bootstrap4.min.css" media="print" onload="this.media='all'"/>
	<link rel="stylesheet" type="text/css" href="/lobibox/css/lobibox.min.css" media="print" onload="this.media='all'"/>
	<link rel="stylesheet" type="text/css" href="/intl-tel-input/css/intlTelInput.min.css" media="print" onload="this.media='all'"/>
	<link rel="stylesheet" type="text/css" href="/trumbowyg/ui/trumbowyg.min.css" media="print" onload="this.media='all'"/>
    <!--- --------------------------------------------------------------------------------------------------------------------------- --->
    <!-- JS -->
    <!--- <script src="https://www.google.com/recaptcha/api.js?render=6LeNSbIZAAAAAHxZcXhdBfaHo41Q7Ul5qVzy4qK9"></script> --- >
</head>
<body>
{{>_navbar}}
<!-- Fim - Image and text -->
<div class="container">
