#package-lock.json

# Node modules
node_modules

tokens
# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite
