.form-control[readonly] {
  background-color: #fff;
}

.textOnInput {
  position: relative;
}

.textOnInput label {
  position: absolute;
  top: -15px;
  left: 13px;
  padding: 2px;
  z-index: 1;
}

.textOnInput label:after {
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

label {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-control {
  box-shadow: none !important;
}

fieldset.scheduler-border {
  border: 1px solid lightgrey;
  /*border: 1px groove #ddd !important;*/
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
  border-radius: 5px;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

form button {
  background: #4666f7;
  padding: 10px;
  border: 0;
  margin-top: 20px;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  transition-duration: 200ms;
  box-shadow: 0 2.8px 2.2px rgba(70, 102, 247, 0.034),
    0 6.7px 5.3px rgba(70, 102, 247, 0.048),
    0 12.5px 10px rgba(70, 102, 247, 0.06),
    0 22.3px 17.9px rgba(70, 102, 247, 0.072),
    0 41.8px 33.4px rgba(70, 102, 247, 0.086),
    0 100px 80px rgba(70, 102, 247, 0.12);
}

form button:hover {
  background: #263fb1;
  transition-duration: 200ms;
}

form button:disabled {
  background: #5b5e78;
  cursor: not-allowed;
}

:placeholder-shown {
  font-size: small;
}
